{{#partial "cargaPrendaError"}}
	<p class="text-center" style="font-size: 1rem;color: red;"> {{message}} </p>
	<div class="container text-center" id="botoncito">
		<a href="/altaprenda"><button type="button" class="btn btn-primary">Reintentar</button></a>
	</div>
{{/partial}}
{{>formAltaPrenda.html}}