{{#partial "cargaPrendaOk"}}
	<p class="text-center" style="font-size: 1rem;color: red;"> Prenda cargada correctamente </p>
		<div class="container text-center" id="botoncito">
			<a href="/altaprenda"><button type="button" class="btn btn-primary">Cargar otra Prenda</button></a>
			<a href="/usuario"><button type="button" class="btn btn-primary">Volver al menú Principal</button></a>
		</div>
{{/partial}}
{{>formAltaPrenda.html}}