{{#partial "cargaEventoOk"}}
	<p class="text-center" style="font-size: 1rem;color: red;"> El evento planificado cargó correctamente </p>
		<div class="container text-center" id="botoncito">
			<a href="/gestionEventos/altaEvento"><button type="button" class="btn btn-primary">Cargar otro Evento</button></a>
			<a href="/gestionEventos"><button type="button" class="btn btn-primary">Volver al menú de Eventos</button></a>
		</div>
{{/partial}}
{{>formAltaEvento.html}}
