{{#partial "aceptarSugerenciaEventoOk"}}
	<p class="text-center" style="font-size: 1rem;color: red;"><u>Sugerencia#</u><b>{{idSugerencia}}</b> seleccionada correctamente para el <u>Evento#:</u> <b>{{idEvento}}</b></p>
		<div class="container text-center" id="botoncito">
			<a href="/sugerencias/mostrarAccionesSugerencia/{{idSugerencia}}?idEvt={{idEvento}}"><button type="button" class="btn btn-primary btn-sm">Continuar</button></a>
		</div>
{{/partial}}
{{>mostrarAccionesSugerencia.html}}
