{{#partial "actualizarCalificacionError"}}
	<p class="text-center" style="font-size: 1rem;color: red;"><u>Sugerencia#</u><b>{{idSugerencia}}</b> no se pudo calificar correctemente.</p>
		<div class="container text-center" id="botoncito">
			<a href="/gestionEventos/actualizarCalificacion/{{idEvento}}"><button type="button" class="btn btn-primary btn-sm">Continuar</button></a>
		</div>
{{/partial}}
{{>mostrarActualizacionCalificacion.html}}
