<!DOCTYPE HTML>
<html>
<head>
	<title>Bienvenido a QueMePongo??</title>
	
	<!-- Required meta tags -->
	<meta http-equiv="Content-Type" content="text/html; charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<!-- Fontawesome icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

	<!-- Calendar -->
	<link href="public/jquery.datetimepicker.min.css" rel="stylesheet"/>
	<script src="public/jquery.datetimepicker.full.min.js"></script>
	
	<!-- Our own css -->
	<link rel="stylesheet" type="text/css" href="public/altaevento.css">
	
</head>

<body>
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-toggler" id="a-menu"><span class="navbar-toggler-icon"></span> Home</a>
		<div class="dropdown">
			<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="a-cs">Cerrar sesion</a>
			<div class="dropdown-menu text-center">
				<a><img src="public/avatar.png" height="80" width="80"></a></br>
				{{#each usuarios}}
				<a>{{login}}</a>
				{{/each}}
				<div class="dropdown-divider"></div>
				<a href="/salir" class="dropdown-item">Salir</a>
			</div>
		</div>
	</nav>
	

<!-->
	<script>
	jQuery.datetimepicker.setLocale('es');
	$("#picker").datetimepicker({
	timepicker: true,
	datepicker: true,
	format: "d-m-y H:i", //formatDate
	value: "01-01-2020 09:00", //defaultDate
	week: true
})
	</script>
<!-->

<div class="container">
		<div class="col-sm-10 text-center">
			<h1>Agregar nuevo Evento</h1>
		</div>
		<div class="col-sm-10" id="maincoint">
			<div class="modal-content" id="add-main">
				<form method="POST" action="/altaevento" class="needs-validation" id="add-prenda" novalidate>

					<b><span id="tag">  Fecha y hora</span></b>
						<div class="col-sm-6">
							<input type="text" id="picker" class="form-control" required>
						</div>
					
					</br>
					<b><span id="tag">  Lugar</span></b>
					<div class="col-sm-10">
						<div class="input-group">
								<input type="text" class="form-control" name="nombre" id="nombre" value="{{Lugar}}" placeholder="Ej: Almagro" required>
						</div>
					</div>
					
					</br>
					<b><span id="tag">  Actividad</span></b>
					<div class="col-sm-10">
						<div class="input-group">
								<input type="text" class="form-control" name="nombre" id="nombre" value="{{actividad}}" placeholder="Ej: Entrevista laboral" required>
						</div>
					</div>
					
					</br>
					<b><span id="tag">  Caracter vestimenta</span></b>
					<div class="col-sm-10">
						<select class="form-control custom-select" id="tipo" name="tipo" required>
							{{#each caracterVestimenta}}
									<option value="{{tipo}}">{{tipo}}</option>
							{{/each}}
						</select>
					</div>
					
					</br>
					<div class="dropdown-divider"></div>
					</br>
					<div class="col-sm-10">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="defaultUnchecked">
							<label class="custom-control-label" for="defaultUnchecked"><b>Es repetitivo?</b></label>
						</div>
					</div>
					
					
					</br>
					<b><span id="tag">  Cantidad</span></b>
					<div class="container">
						<div class="row">
							<div class="col-sm-2">
								<div class="input-group">
										<input type="text" class="form-control" name="nombre" id="nombre" value="{{cantidad}}" placeholder="" required>
								</div>
							</div>
							
							<div class="btn-group">
							  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Unidad
							  </button>
							  <div class="dropdown-menu">
								<a class="dropdown-item" href="#">minutos</a>
								<a class="dropdown-item" href="#">horas</a>
								<a class="dropdown-item" href="#">día</a>
								<a class="dropdown-item" href="#">mes</a>
								<a class="dropdown-item" href="#">año</a>
							  </div>
							</div>
						</div>
					</div>
					
					</br>
					<b><span id="tag">  Fecha fin evento</span></b>
					<div class="col-sm-6">
						<input type="text" id="picker2" class="form-control" required>
					</div>
					
					
					</br>
					</br>
					<div class="dropdown-divider"></div>
					</br>
					<div class="col-sm-8 text-center">
						<div class="row">
						<div class="col">
							<a href="/usuario"><button type="button" class="btn btn-primary">Cancelar</button></a>
						</div>
						<div="col">
							<a><button type="submit" class="btn btn-primary">Confirmar</button></a>
						</div>
					</div>
					</div>
				</form>
			</div>
		</div>
	</div>


	

	
	<footer class="footer">
	<p class="text-center">&copy; 2019 - Sistema QueMePongo - D.D.S. K3151  - Grupo nÂ° 7</p>
	</footer>
	
<script src="public/calendar.js"></script>
</body>

</html>