<html>
<head>
<link href="/public/bootstrap.min.css" rel="stylesheet" />


<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>

<script src="/public/bootstrap.min.js">
	
</script>
</head>
<body>
	<div class="container">


		<div class="row">
            <div class="col-lg-12">
			<h2>Lista de autos</h2>

			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th></th>

						<th><input type="text" id="filtroMarca" />
							<button onclick="filtrarAutos()">Filtrar</button></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>Patente</th>
						<th>A&ntilde;o</th>
						<th>Marca</th>
						<th>Modelo</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				    {{#each autos}}
					<tr>
						<td>{{patente}}</td>
						<td>{{marca}}</td>
						<td>{{anio}}</td>
						<td>{{modelo}}</td>

						<td><a href="/auto/{{patente}}">Modificar</a></td>
						<td><button class="btn btn-primary" onclick="deleteAuto('{{patente}}');">Borrar</button>
						</td>
					</tr>
                    {{/each}}

				</tbody>
			</table>
		</div>
		</div>


		<div class="row">
		<div class="col-lg-12">
			<h3>Crear nuevo</h3>
			<form method="post" action="/auto">

				<div class="form-group">
					<label for="patente">Patente</label> <input type="text"
						class="form-control" name="patente" id="patente"
						placeholder="Patente" />
				</div>
				<div class="form-group">
					<label for="anio">A&ntilde;o</label> <input type="text"
						class="form-control" name="anio" id="anio" placeholder="A&ntilde;o" />
				</div>
				<div class="form-group">
					<label for="marca">Marca</label> <input type="text"
						class="form-control" name="marca" id="marca"
						placeholder="Marca" />
				</div>
				<div class="form-group">
					<label for="modelo">Modelo</label> <input type="text"
						class="form-control" name="modelo" id="modelo"
						placeholder="Modelo" />
				</div>

				<button type="submit" class="btn btn-default">Crear auto</button>

			</form>
        </div>
		</div>
	</div>
	<script type="text/javascript">
		function deleteAuto(id) {
			
			$.ajax({
			    url: '/auto/' + id,
			    type: 'DELETE',
			    success: function(result) {			    	
			        window.location = "/auto"
			    }
			});
		}
		function filtrarAutos(marca) {			
			window.location = "/auto?marca=" + $("#filtroMarca").val();
		}
	</script>

</body>
</html>