<!DOCTYPE HTML>
<html>
<head>
	<title>Bienvenido a QueMePongo??</title>
	
	<!-- Required meta tags -->
	<meta http-equiv="Content-Type" content="text/html; charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<!-- Fontawesome icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

	<!-- Our own css -->
	<link rel="stylesheet" type="text/css" href="public/calendar.css">
	
	
	<script type="text/javascript">
	document.onload = function myFunction(){
		.alert("puto");
		.carousel('pause');
	}
	</script>
</head>

<body>
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-toggler" id="a-menu"><span class="navbar-toggler-icon"></span> Home</a>
		<div class="dropdown">
			<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="a-cs">Cerrar sesion</a>
			<div class="dropdown-menu text-center">
				<a><img src="public/avatar.png" height="80" width="80"></a></br>
				{{#each usuarios}}
				<a>{{login}}</a>
				{{/each}}
				<div class="dropdown-divider"></div>
				<a href="/salir" class="dropdown-item">Salir</a>
			</div>
		</div>
	</nav>
	
	
	<div class="container">
		<div class="modal-content">
			
			<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="container">
							<div class="row">
								<div class="col-sm-12 col-lg-4">
									
									
								</div>
								
								<div class="col-sm-12 col-lg-4">
									<div class="card" style="width: 300px;">
										
										<div class="card-body">
											<h4 class="card-title">RECOMENDACION 1</h4>
											<p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
										</div>
										
									</div>
									
								</div>
								<div class="col-sm-12 col-lg-4">
									
									
								</div>
								
							</div>									
						</div>
					</div>
					
					<div class="carousel-item">
						<div class="container">
							<div class="row">
								<div class="col-sm-12 col-lg-4">
									
									
								</div>
								
								<div class="col-sm-12 col-lg-4">
									<div class="card" style="width: 300px;">
										
										<div class="card-body">
											<h4 class="card-title">RECOMENDACION 2</h4>
											<p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
										</div>
										
									</div>
									
								</div>
								<div class="col-sm-12 col-lg-4">
									
									
								</div>
								
							</div>									
						</div>
					</div>
				</div>
			
				  
				  
				  
				  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				  </a>
				  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				  </a>
			</div>	
            
        </div>
    </div>
	
	<div class="container">
		<div class="modal-content text-center">
			<div class="row">
				
						<div class="col-sm-6">
							<button class="btn btn-lg btn-primary btn-danger" type="submit">Aceptar</button>
						</div>
						
						<div class="col-sm-6">
							<button class="btn btn-lg btn-primary btn-success" type="submit">Rechazar</button>
						</div>
			</div>
		</div>
	</div>

		
	

	{{#block "usuarioInicio"}}
	{{/block}}


	

</body>

</html>