{{#partial "calificarSugerenciaError"}}
	<p class="text-center" style="font-size: 1rem;color: red;"><u>Evento#</u><b>{{idEvento}}</b> no se pudo calificar la sugerencia seleccionada.</p>
		<div class="container text-center" id="botoncito">
			<a href="/gestionEventos/getHistoricos?cantidad=10&page=next"><button type="button" class="btn btn-primary btn-sm">Continuar</button></a>
		</div>
{{/partial}}
{{>mostrarCalificacionSugerencia.html}}