{{#partial "error500-1"}}
     <p class="text-center" style="font-size: 1.2rem;color: red;"> HTTP 500 - Internal Server Error</p>
	 <p class="text-center" style="font-size: 1.2rem;color: red;"> Debe iniciar sesión correctamente!!</p>
{{/partial}}	
{{>layout.hbs}}